<div class="row">
    <div class="col-md-12">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                <input type="text" class="form-control" placeholder="Search country" ng-model="search">
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Country name</th>                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in countries | filter: search">            
                <td><a ng-href="#/country/{{c.country.value | splitLink:'/'}}">{{c.countryLabel.value}}</a></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
